<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adding new player</title>
  <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Add new player to your party</h1>

<div th:align="center">
  <form th:method="POST" th:action="@{/}" th:object="${user}">
    <br><br>
    <label for="nickname">Set nickname  </label>
    <input type="text" th:field="*{nickName}" id="nickname">
    <br><br>

    <label for="playerclass">Set player class  </label>
    <input type="text" th:field="*{playerClass}" id="playerclass">
    <br><br>

    <label for="playerlevel">Set player level  </label>
    <input type="number" th:field="*{playerLevel}" id="playerlevel">
    <br><br>

    <input type="submit" value="Add player"/>

  </form>

</div>


<div th:align="center">
  <br>
  <br>
  <a th:href="'/'">
    <h6>Return to main page</h6>
  </a>
</div>

</body>
</html>